{% extends 'base.html.twig' %}

{% block title %}Accueil - Fruits & Veggies{% endblock %}

{% block body %}
    <h1>Bienvenue chez Fruits & Veggies</h1>
    <p>Votre magasin de fruits et légumes frais en ligne.</p>
{% endblock %}
